In [16]:
import pandas as pd
import firebase_admin
import google.cloud
from firebase_admin import credentials, firestore

In [15]:
patients = pd.read_csv('patients.csv')
patients.drop('Unnamed: 0', axis=1)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,MARITAL,...,Total score [MMSE],Triglycerides,Urea Nitrogen,WBC Auto (Bld) [#/Vol],Walnut IgE Ab in Serum,Weight difference [Mass difference] --pre dialysis - post dialysis,Weight-for-length Per age and sex,Wheat IgE Ab in Serum,White oak IgE Ab in Serum,pH of Urine by Test strip
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,M,...,NaN,112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,M,...,NaN,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,M,...,NaN,150.0,18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,S,...,NaN,142.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,S,...,17.2,140.0,12.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,M,...,NaN,114.8,14.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,M,...,NaN,134.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cred = credentials.Certificate("./ServiceAccountKey.json")
app = firebase_admin.initialize_app(cred)

store = firestore.client()
doc_ref = store.collection(u'users').limit(2)

try:
    docs = doc_ref.get()
    for doc in docs:
        print(u'Doc Data:{}'.format(doc.to_dict()))
except google.cloud.exceptions.NotFound:
    print(u'Missing data')