In [9]:
import pandas as pd
import os

In [5]:
pd.read_csv('C:/Users/parke/Downloads/synthea_sample_data_csv_apr2020/csv/allergies.csv')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1982-10-25,NaN,76982e06-f8b8-4509-9ca3-65a99c8650fe,b896bf40-8b72-42b7-b205-142ee3a56b55,300916003,Latex allergy
1,1982-10-25,NaN,76982e06-f8b8-4509-9ca3-65a99c8650fe,b896bf40-8b72-42b7-b205-142ee3a56b55,300913006,Shellfish allergy
2,2002-01-25,NaN,71ba0469-f0cc-4177-ac70-ea07cb01c8b8,7be1a590-4239-4826-9872-031327f3c368,419474003,Allergy to mould
3,2002-01-25,NaN,71ba0469-f0cc-4177-ac70-ea07cb01c8b8,7be1a590-4239-4826-9872-031327f3c368,232347008,Dander (animal) allergy
4,2002-01-25,NaN,71ba0469-f0cc-4177-ac70-ea07cb01c8b8,7be1a590-4239-4826-9872-031327f3c368,418689008,Allergy to grass pollen
...,...,...,...,...,...,...
592,2000-01-03,NaN,e6ff4bf9-09c2-4976-aa84-cca142207cf8,6c760807-a6b7-4af4-8d50-f32325803448,418689008,Allergy to grass pollen
593,2000-01-03,NaN,e6ff4bf9-09c2-4976-aa84-cca142207cf8,6c760807-a6b7-4af4-8d50-f32325803448,419263009,Allergy to tree pollen
594,2000-01-03,NaN,e6ff4bf9-09c2-4976-aa84-cca142207cf8,6c760807-a6b7-4af4-8d50-f32325803448,91930004,Allergy to eggs
595,2000-01-03,NaN,e6ff4bf9-09c2-4976-aa84-cca142207cf8,6c760807-a6b7-4af4-8d50-f32325803448,91935009,Allergy to peanuts
596,1915-09-12,NaN,13b9a676-7cfd-4b7c-bdb6-43ec52b7c919,bbd17366-0801-45ee-8589-0f3eb31c7d0d,419474003,Allergy to mould

In [143]:
names=[]
for entry in os.scandir('C:/Users/parke/Downloads/synthea_sample_data_csv_apr2020/csv/'):
    if entry.path.endswith(".csv") and entry.is_file():
        name=entry.path.replace('C:/Users/parke/Downloads/synthea_sample_data_csv_apr2020/csv/', '').replace('.csv', '')
        names.append(name)
        globals()[name] = pd.read_csv(entry.path)
names

['allergies',
 'careplans',
 'conditions',
 'devices',
 'encounters',
 'imaging_studies',
 'immunizations',
 'medications',
 'observations',
 'organizations',
 'patients',
 'payers',
 'payer_transitions',
 'procedures',
 'providers',
 'supplies']

In [144]:
print(patients.shape)
print(conditions.shape)

conditions.rename(columns={'PATIENT': 'Id'}, inplace=True)
# print(conditions)
conditions['Id'] = patients.iloc[:, 0]
patients2 = patients.merge(conditions, on='Id', how='left').drop(['START', 'STOP','ENCOUNTER','CODE'], axis=1)
patients2.rename(columns={'DESCRIPTION': 'CONDITION'}, inplace=True)
patients2

(1171, 25)
(8376, 6)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,CONDITION
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,271227.08,1334.88,Chronic sinusitis (disorder)
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,793946.01,3204.49,Viral sinusitis (disorder)
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,574111.90,2606.40,Acute viral pharyngitis (disorder)
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,935630.30,8756.19,Acute bronchitis (disorder)
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,598763.07,3772.20,Acute viral pharyngitis (disorder)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,NaN,...,365 Gorczany Crossing Apt 64,Cambridge,Massachusetts,Middlesex County,2141.0,42.413390,-71.102083,1622314.87,32086.31,Chronic sinusitis (disorder)
1167,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,NaN,...,177 Volkman Heights Suite 94,Beverly,Massachusetts,Essex County,1915.0,42.573337,-70.883400,979724.25,3130.52,Hypertension
1168,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,NaN,...,583 Price Rue,Norwood,Massachusetts,Norfolk County,NaN,42.211364,-71.213621,1560540.35,52391.24,Body mass index 30+ - obesity (finding)
1169,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,NaN,...,537 Boehm Course,Norwood,Massachusetts,Norfolk County,2062.0,42.167146,-71.235461,1375833.47,13157.00,Viral sinusitis (disorder)
1170,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,NaN,...,163 Schulist Crossing,Norwood,Massachusetts,Norfolk County,2090.0,42.233960,-71.245224,1510158.34,26565.65,Acute bronchitis (disorder)

In [145]:

allergies.rename(columns={'PATIENT': 'Id'}, inplace=True)
patients3 = patients2.merge(allergies, on='Id', how='left')
patients3['DESCRIPTION'].isna().sum()
patients3=patients3.drop(['SUFFIX','MAIDEN','START', 'STOP','ENCOUNTER','CODE'], axis=1)
patients3.rename(columns={'DESCRIPTION': 'ALLERGIES'}, inplace=True)

In [173]:
observations2= observations.drop(['ENCOUNTER', 'CODE'], axis=1)
# observations2.pivot(index='PATIENT', columns='idx', values=)
observations2 = observations2.drop_duplicates(subset=['PATIENT','DESCRIPTION'])

observations2 = observations2.loc[observations2['TYPE']=='numeric']
observations2['VALUE']=observations2['VALUE'].astype('double')

observations2 = observations2.pivot_table(index='PATIENT', columns='DESCRIPTION', values='VALUE').reset_index()

observations2.rename(columns={'PATIENT': 'Id'}, inplace=True)
patients4 = patients3.merge(observations2, on='Id', how='left')
# patients4.to_csv('patients.csv')
patients4
# observations2

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,MARITAL,...,Total score [MMSE],Triglycerides,Urea Nitrogen,WBC Auto (Bld) [#/Vol],Walnut IgE Ab in Serum,Weight difference [Mass difference] --pre dialysis - post dialysis,Weight-for-length Per age and sex,Wheat IgE Ab in Serum,White oak IgE Ab in Serum,pH of Urine by Test strip
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,M,...,NaN,112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,M,...,NaN,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,M,...,NaN,150.0,18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,S,...,NaN,142.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,S,...,17.2,140.0,12.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,M,...,NaN,114.8,14.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,M,...,NaN,134.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN